body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #007BFF;
}

button {
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px auto;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Style for the Next button on top */
.top-button {
    margin-bottom: 20px; /* Add some space below */
}

/* Style for the Back button at the bottom */
.bottom-button {
    margin-top: 20px; /* Add some space above */
}

/* Visitor counter styles */
#visitor-counter {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 14px;
    color: #6c757d;
}

#visitor-count {
    font-weight: bold;
    color: #007BFF;
}
